{% extends "::base.html.twig" %}

{% block title %}SystemTestBundle:Home:Home{% endblock %}

{% block body %}
Hello Project Manager {{ name }}!
<div> </div>

<table>

<tr>
<td> 
    
    <form action="{{ path('add') }}" method="post">
    <button type="submit">Add a New Client</button>
    </form></td>
    
</tr>

<tr>
<td> 
    
    <form action="{{ path('create_budget') }}" method="post">
    <button type="submit">Add a New Budget</button>
    </form></td>
    
</tr>

<tr>
<td> 
        <form action="{{ path('create_project') }}" method="post">
        <button type="submit">Add a New Project</button>
        </form></td>
</tr>

<tr>
<td>
        <form action="{{ path('createResource') }}" method="post">
        <button type="submit">Add a New Resource</button>
        </form></td> </td>
</tr>


</table?
{% endblock %}
