{% extends "TwigBundle::layout.html.twig" %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" />
{% endblock %}

{% block body %}
<h1>Hello Project Manager {{ name }}!</h1>
<div> </div>
<h3>Adding new items</h3>
<table>

<tr>
<td> 
    
    <form action="{{ path('add') }}" method="post">
      <button type="submit" name="addClient" class="sf-button">
                <span class="border-l">
                    <span class="border-r">
                        <span class="btn-bg">Add a New Client</span>
                    </span>
                 </span>
     </button>
    </form></td>
    
</tr>

<tr>
<td> 
    
    <form action="{{ path('create_budget') }}" method="post">
        <button type="submit" name="addBudget" class="sf-button">
                <span class="border-l">
                    <span class="border-r">
                        <span class="btn-bg">Add a New Budget</span>
                    </span>
                 </span>
           </button>
    </form></td>
    
</tr>

<tr>
<td> 
        <form action="{{ path('create_project') }}" method="post">
          <button type="submit" name="addProject" class="sf-button">
                <span class="border-l">
                    <span class="border-r">
                        <span class="btn-bg">Add a New Project</span>
                    </span>
                 </span>
           </button>
        </form></td>
</tr>

<tr>
<td>
    <h4>Add new resources</h4>
        <td> 
       <form action="{{ path('add_new_consumable') }}" method="post">
          <button type="submit" name="addConsumable" class="sf-button">
                <span class="border-l">
                    <span class="border-r">
                        <span class="btn-bg">Add a New Consumable</span>
                    </span>
                 </span>
           </button>
       </form></td>
       
       <td> 
        <form action="{{ path('add_new_machinery') }}" method="post">
           <button type="submit" name="addMachine" class="sf-button">
                <span class="border-l">
                    <span class="border-r">
                        <span class="btn-bg">Add a New Machinary</span>
                    </span>
                 </span>
           </button>
        </form></td>
        
       <td> 
       <form action="{{ path('add_new_hr') }}" method="post">     
         <button type="submit" name="addHR" class="sf-button">
                <span class="border-l">
                    <span class="border-r">
                        <span class="btn-bg">Add a New HR</span>
                    </span>
                 </span>
           </button>
        
        
        </form></td>
       
</tr>


</table>

<h3>Checking excisting projects</h3>

<td>
           <button type="submit" name="getReports" class="sf-button">
                <span class="border-l">
                    <span class="border-r">
                        <span class="btn-bg">Select a project and get reports</span>
                    </span>
                 </span>
           </button>
{% endblock %}
