{% extends "::base.html.twig" %}

{% block title %}SystemTestBundle:Home:Home{% endblock %}

{% block body %}
<h1>Hello Project Manager {{ name }}!</h1>
<div> </div>
<h2>Adding new items</h2>
<table>

<tr>
<td> 
    
    <form action="{{ path('add') }}" method="post">
    <button type="submit">Add a New Client</button>
    </form></td>
    
</tr>

<tr>
<td> 
    
    <form action="{{ path('create_budget') }}" method="post">
    <button type="submit">Add a New Budget</button>
    </form></td>
    
</tr>

<tr>
<td> 
        <form action="{{ path('create_project') }}" method="post">
        <button type="submit">Add a New Project</button>
        </form></td>
</tr>

<tr>
<td>
    <h4>Add new resources</h4>
        <td> 
       <form action="{{ path('add_new_consumable') }}" method="post">
       <button type="submit">Add a New Consumable</button>
       </form></td>
       
       <td> 
        <form action="{{ path('add_new_machinery') }}" method="post">
        <button type="submit">Add a New Machinary</button>
        </form></td>
        
       <td> 
       <form action="{{ path('add_new_hr') }}" method="post">
        <button type="submit">Add a New HR</button>
        </form></td>
       
</tr>


</table>

<h2>Checking excisting projects</h2>

<td>
       
        <button type="submit">Select a project and get reports</button>

{% endblock %}
