<html>
    <head>
     
        <title>Allocate Resources</title>
    </head>
    
    <body>
        <h1 >Allocate Resources</h1>
        <div style="border: 1px solid black;background-color: yellow;">
            <h2>Allocate Machinery</h2>
            {{ form(Mform) }}
        
            <h3>Allocated Machinery</h2>
            <ul>
                {% for m in MAllocations %}
                    <li> {{m}} </li>
                {% endfor %}
            </ul>
        </div>
        <div style="border: 1px solid blue;background-color:pink;">
            <h2>Allocate HR</h2>
            {{ form(Hform) }}
        
            <h3>Allocated HR</h2>
            <ul>
                {% for h in Hallocations %}
                    <li> {{h}} </li>
                {% endfor %}
            </ul>
        </div>
        <div style="border: 1px solid red;colour:green;">
            <h2>Allocate Consumables</h2>
            {{ form(Cform) }}
        </div>
    </body>
</html>