{% extends "TwigBundle::layout.html.twig" %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" />
{% endblock %}

{% block title 'Create Actual Expences' %}

{% block body %}
    {% block content_header %}

    <!-- Logo -->
    <div id="logo">
        <h1 id="title"> Create Actual Expences</h1><br>
    </div>
    <div style="clear: both"></div>
    {% endblock %}

    <div class="block">
        {% block content %}
        <form action="{{ path('create_actual_expences') }}" method="POST" id="contact_form">
            <div>
                {{ form_label(form.projectID,'Project Code') }}
                {{ form_errors(form.projectID) }}
                {{ form_widget(form.projectID) }}
            </div><br> 
            <div>
                {{ form_label(form.machineryCost,'Machinery Cost') }}
                {{ form_errors(form.machineryCost) }}
                {{ form_widget(form.machineryCost) }}
            </div><br> 
            <div>
                {{ form_label(form.consumableCost,'Consumable Cost') }}
                {{ form_errors(form.consumableCost) }}
                {{ form_widget(form.consumableCost) }}
            </div><br>       
            <div>
                {{ form_label(form.hrCost,'HR Cost') }} 
                {{ form_errors(form.hrCost) }}
                {{ form_widget(form.hrCost) }}
           </div><br>
           <div>
                {{ form_label(form.endingDate,'Ending Date') }} 
                {{ form_errors(form.endingDate) }}<br>
                {{ form_widget(form.endingDate) }}
           </div><br>
           
           
           <button type="submit" id="form_Submit" class="sf-button">
                <span class="border-l">
                    <span class="border-r">
                        <span class="btn-bg">Submit</span>
                    </span>
                </span>
           </button>
                                
           <button type="reset" id="form_reset" class="sf-button">
                <span class="border-l">
                    <span class="border-r">
                        <span class="btn-bg">Reset</span>
                    </span>
                 </span>
           </button>
           
           
         </form></div><br>
         
         
        {% endblock %}
{% endblock %}
